<?xml version='1.0' encoding='utf-8'?>
<widget id="com.antonfisher.bugPorter" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BugPorter</name>
    <description>BugPorter game, use bugs to deliver bags and get scores.</description>
    <author email="a.fschr@gmail.com" href="http://antonfisher.com">Anton Fisher</author>
    <content src="index.html"/>
    <access origin="http://127.0.0.1*"/>
    <plugin name="cordova-plugin-whitelist" spec="1"/>
    <platform name="android">
        <allow-intent href="market:*"/>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"/>
        <allow-intent href="itms-apps:*"/>
    </platform>
    <preference name="xwalkVersion" value="19+"/>
    <preference name="xwalkCommandLine" value="--disable-pull-to-refresh-effect"/>
    <preference name="xwalkMode" value="embedded"/>
    <preference name="xwalkMultipleApk" value="true"/>
</widget>
